<h1>Listing messages</h1>

<table>
  

<% @messages.each do |message| %>
  <tr>
    <td width="200px"><%= link_to message.title, message %></td>
    <td width="600px"><%= message.body %></td>
    <td width="100px"><%= message.created_at.strftime("%b, %d") %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
